@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
}

<header style="padding-top:20%">
    <center>
        <h1 class="text-danger">@ViewData["Title"]</h1>
        <p class="text-danger">You do not have access to this resource.</p>
        <br />
        <h1 class="text-danger">وصول ممنوع</h1>
        <p class="text-danger">عذرا ولاكنك لا تمتلك الصلاحية للوصول لهذاالمحتوى.</p>
    </center>
</header>
