@using Domain.Data.Enum

@if (User.IsInRole("super_admin"))
{
    <div style="text-align:end">
        <a href="/Services/create"><button class="btn btn-primary">اضافة خدمة جديدة</button></a>

        <div class="btn btn-icon btn-active-light-primary w-30px h-30px w-md-40px h-md-40px" id="kt_activities_toggle">
            <i class="fa fa-plus fs-2"></i>
        </div>
    </div>
    
}

<div class="col-md-3" style="display:block flex">
    <label class="col-form-label">بحث</label>
    &nbsp;&nbsp;&nbsp;
    <select name="Filter" class="form-select">
        <option value="">ALL</option>
        <option value="Notification">Notification</option>
        <option value="Bannar">Bannar</option>
        <option value="ERP">ERP</option>
        <option value="MobileApp">MobileApp</option>
        <option value="AD">AD</option>
        <option value="Services">Services</option>
    </select>
</div>


<div id="partialViewContainer">
    <partial name="Filter/FiltredServices" />
    <br />
</div>

<br />

@section Scripts {

@{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");

 }


    <script>
        var url = "/Services/FilterList";
        var value = "";
        $(document).ready(function () {
            $("select").change(function () {
                //alert($(this).val());
                value = $(this).val();
                $.get('/Services/FilterList?Filter='+value, function (data) {
                    $('#partialViewContainer').html(data);
                });
            });
        });


        function ProdFunction(ServiceId) {
            var copyText = document.getElementById(ServiceId);
            copyText.select();
            copyText.setSelectionRange(0, 99999);
            navigator.clipboard.writeText(copyText.value);
        }

        function TestFunction(ServiceId) {
            var copyText = document.getElementById(ServiceId);
            copyText.select();
            copyText.setSelectionRange(0, 99999);
            navigator.clipboard.writeText(copyText.value);
        }
    </script>

}

