@model Microsoft.AspNetCore.Identity.IdentityUser
@* @model Domain.Entities.AppRoles *@



@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h2>user information</h2>
<br />
<br />
<br />

email = 
@Model.Email

<br />
@Model.UserName

<br />
@Model.NormalizedUserName